letsgobiking/LetsGoBiking/HeavyClient/Connected Services/RoutingService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="BikeRoutingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RoutingService" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBikeRoutingService_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IBikeRoutingService_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRoutingService_GetStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStation" />
  </wsdl:message>
  <wsdl:message name="IBikeRoutingService_GetStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRoutingService_GetRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoute" />
  </wsdl:message>
  <wsdl:message name="IBikeRoutingService_GetRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeRoutingService_Geocode_InputMessage">
    <wsdl:part name="parameters" element="tns:Geocode" />
  </wsdl:message>
  <wsdl:message name="IBikeRoutingService_Geocode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeocodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IBikeRoutingService">
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRoutingService/GetStations" message="tns:IBikeRoutingService_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRoutingService/GetStationsResponse" message="tns:IBikeRoutingService_GetStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRoutingService/GetStation" message="tns:IBikeRoutingService_GetStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRoutingService/GetStationResponse" message="tns:IBikeRoutingService_GetStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRoutingService/GetRoute" message="tns:IBikeRoutingService_GetRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRoutingService/GetRouteResponse" message="tns:IBikeRoutingService_GetRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Geocode">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeRoutingService/Geocode" message="tns:IBikeRoutingService_Geocode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeRoutingService/GeocodeResponse" message="tns:IBikeRoutingService_Geocode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBikeRoutingService" type="tns:IBikeRoutingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IBikeRoutingService/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStation">
      <soap:operation soapAction="http://tempuri.org/IBikeRoutingService/GetStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <soap:operation soapAction="http://tempuri.org/IBikeRoutingService/GetRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Geocode">
      <soap:operation soapAction="http://tempuri.org/IBikeRoutingService/Geocode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BikeRoutingService">
    <wsdl:port name="BasicHttpBinding_IBikeRoutingService" binding="tns:BasicHttpBinding_IBikeRoutingService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RoutingService/BikeRoutingService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>